<?php
date_default_timezone_set('America/Sao_Paulo');

$wsdl_merco = 'url';  //Put here your DOMAIN
$merco_soap_user = 'user';                                  // USER of the soap
$merco_soap_password = 'password';


 ?>
